<a href="https://colab.research.google.com/github/sha-linimoorthy/ML-ALGORITHM/blob/main/GradientBoosting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import numpy as np
import pandas as pd
from sklearn.metrics import classification_report,accuracy_score

In [3]:
test=pd.read_csv('https://raw.githubusercontent.com/ezioauditore-tech/AI/main/datasets/Titanic/test.csv')
train=pd.read_csv('https://raw.githubusercontent.com/ezioauditore-tech/AI/main/datasets/Titanic/train.csv')

In [4]:
test.info(),train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 418 entries, 0 to 417
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  418 non-null    int64
 1   Pclass       418 non-null    int64
 2   Name         418 non-null    object
 3   Sex          418 non-null    object
 4   Age          332 non-null    float64
 5   SibSp        418 non-null    int64
 6   Parch        418 non-null    int64
 7   Ticket       418 non-null    object
 8   Fare         417 non-null    float64
 9   Cabin        91 non-null     object
 10  Embarked     418 non-null    object
dtypes: float64(2), int64(4), object(5)
memory usage: 36.0+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

(None, None)

In [5]:
train.set_index('PassengerId',inplace=True)

In [6]:
train

,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
PassengerId,,,,,,,,,,,
1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...
887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [8]:
test.set_index('PassengerId',inplace=True)

In [9]:
y_train=train['Survived']

In [11]:
train.shape

(891, 11)

In [12]:
train_test=train.append(test)

<ipython-input-12-d2734cde2921>:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  train_test=train.append(test)

In [13]:
train_test.shape

(1309, 11)

In [15]:
train_test.fillna(method='ffill',inplace=True)

In [17]:
train_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 1 to 1309
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  1309 non-null   float64
 1   Pclass    1309 non-null   int64
 2   Name      1309 non-null   object
 3   Sex       1309 non-null   object
 4   Age       1309 non-null   float64
 5   SibSp     1309 non-null   int64
 6   Parch     1309 non-null   int64
 7   Ticket    1309 non-null   object
 8   Fare      1309 non-null   float64
 9   Cabin     1308 non-null   object
 10  Embarked  1309 non-null   object
dtypes: float64(3), int64(3), object(5)
memory usage: 122.7+ KB

In [19]:
train_test.fillna(train_test['Cabin'].mode()[0],inplace=True)

In [21]:
train_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 1 to 1309
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  1309 non-null   float64
 1   Pclass    1309 non-null   int64
 2   Name      1309 non-null   object
 3   Sex       1309 non-null   object
 4   Age       1309 non-null   float64
 5   SibSp     1309 non-null   int64
 6   Parch     1309 non-null   int64
 7   Ticket    1309 non-null   object
 8   Fare      1309 non-null   float64
 9   Cabin     1309 non-null   object
 10  Embarked  1309 non-null   object
dtypes: float64(3), int64(3), object(5)
memory usage: 122.7+ KB

In [26]:
col=['Sex','Cabin','Embarked']

In [27]:
from sklearn.preprocessing import LabelEncoder
lb=LabelEncoder()
for i in col:
  train_test[i]=lb.fit_transform(train_test[i])

In [28]:
train_test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1309 entries, 1 to 1309
Data columns (total 11 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  1309 non-null   float64
 1   Pclass    1309 non-null   int64
 2   Name      1309 non-null   object
 3   Sex       1309 non-null   int64
 4   Age       1309 non-null   float64
 5   SibSp     1309 non-null   int64
 6   Parch     1309 non-null   int64
 7   Ticket    1309 non-null   object
 8   Fare      1309 non-null   float64
 9   Cabin     1309 non-null   int64
 10  Embarked  1309 non-null   int64
dtypes: float64(3), int64(6), object(2)
memory usage: 122.7+ KB

In [39]:
selected_col=['Age','Sex','Pclass','SibSp','Parch','Cabin','Embarked']
x=train_test[selected_col]

In [40]:
y=train_test['Survived']

In [47]:
from sklearn.preprocessing import MinMaxScaler
minmaxSc=MinMaxScaler()
x_scaled=minmaxSc.fit_transform(x)

In [48]:
x_scaled

array([[0.27345609, 1.        , 1.        , ..., 0.        , 0.58918919,
        1.        ],
       [0.473882  , 0.        , 0.        , ..., 0.        , 0.57297297,
        0.        ],
       [0.32356257, 0.        , 1.        , ..., 0.        , 0.57297297,
        1.        ],
       ...,
       [0.48014531, 1.        , 1.        , ..., 0.        , 0.34594595,
        1.        ],
       [0.48014531, 1.        , 1.        , ..., 0.        , 0.34594595,
        1.        ],
       [0.48014531, 1.        , 1.        , ..., 0.11111111, 0.34594595,
        0.        ]])

In [49]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(x_scaled,y,test_size=0.33,random_state=11)

In [51]:
from sklearn.ensemble import GradientBoostingClassifier
model=GradientBoostingClassifier()
model.fit(X_train,y_train)

GradientBoostingClassifier()

In [53]:
pred=model.predict(X_test)
print(accuracy_score(y_test,pred))

0.8101851851851852

In [71]:
learning_rates=[0.1,0.001,0.5,0.75,1]
for lr in learning_rates:
  gb=GradientBoostingClassifier(n_estimators=50,learning_rate=lr,max_features=10)
  gb.fit(X_train,y_train)
  pred=gb.predict(X_test)
  print("Learning rate",lr)
  print("Accuracy ",accuracy_score(y_test,pred))

Learning rate 0.1
Accuracy  0.7986111111111112
Learning rate 0.001
Accuracy  0.7268518518518519
Learning rate 0.5
Accuracy  0.7777777777777778
Learning rate 0.75
Accuracy  0.7685185185185185
Learning rate 1
Accuracy  0.7870370370370371

In [67]:
from sklearn.ensemble import AdaBoostClassifier
ab=AdaBoostClassifier()
ab.fit(X_train,y_train)
pred=gb.predict(X_test)
print("Learning rate",lr)
print("Accuracy ",accuracy_score(y_test,pred))

Learning rate 1
Accuracy  0.7870370370370371